.my-bg1 {
  background-color: rgb(23, 28, 23);
  color: rgb(237, 233, 4);
}
.my-bg2 {
  background-color: rgb(23, 28, 23);
  color: rgb(213, 240, 12);
}
.my-bg3 {
  background-color: rgb(23, 28, 23);
  color: rgb(9, 247, 56);
}

.my-bg1 :hover {
  color: whitesmoke;
}

.my-mgrn {
  margin-right: 0;
}
